<%= simple_form_for @group do |f| %>
  <div class="form-group">
    <%= f.input :title,input_html: { class: "form-control"} %>
    <%= f.input :description, input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with:"Submitting..." } %>
<% end %>



<!-- <%# if @group.errors.any? %>
<ul>
  <%# @group.error.full_messages.each do |msg| %>
    <li><%#= msg %></li>
  <%# end %>
</ul>
<%# end %>
标题
<%#= f.text_field :title %>
<br>
叙述
<br>
<%#= f.text_area :description %>
<br>
<%#= f.submit "Submit", :disable_with => 'Submiting...' %>
<%# end %> -->
